{% extends "driver/base_generic.html" %}

{% block content %}
    <h2 class="ui header">Order Details</h2>
    <div class="ui hidden divider"></div>

    <div class="ui basic segment">
        <div class="ui text container">
            <h3 class="ui dividing header">
                Your Latest Order
            </h3>
            <div id="" class="ui segments">
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="six wide column">
                            <div class="ui medium header">
                                <div class="content">
                                    Invoice
                                    <div class="sub header">NO: 554775/R1 | Date: 03/17/2018</div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column"></div>
                        <div class="six wide column">
                            <div class="ui medium header">
                                <div class="content">
                                    Truckr Limited.
                                    <div class="sub header">Payment Department</div>
                                    <div class="sub header">East Legon, Greater Accra</div>
                                    <div class="sub header"><a href="mailto:payment@truckr.com">payment@truckr.com</a></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="ui segment">
                    <div class="ui grid">
                        <div class="row">
                            <div class="eight wide column">
                                <div class="ui  segment">
                                    <div class="ui top attached large teal label">Pickup Details</div>
                                    <dl class="dl-horizontal">
                                        <dt>Name</dt>
                                        <dd ><strong>Noodles Corporation</strong></dd>
                                        <dt>Industry</dt>
                                        <dd >Food Department</dd>
                                        <dt>Phone</dt>
                                        <dd>123.4456.4567</dd>
                                        <dt>Email</dt>
                                        <dd>mainl@acme.com</dd>
                                        <dt class=""><strong>Address</strong></dt>
                                        <dd>Field 3, Moon</dd>
                                        <dt><strong>Location</strong></dt>
                                        <dd ><strong>Accra</strong></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui segment">
                                    <div class="ui top attached large olive label">Destination Details</div>
                                    <dl class="dl-horizontal">
                                        <dt>Name</dt>
                                        <dd><strong>UAC Corporation</strong></dd>
                                        <dt>Industry</dt>
                                        <dd>Food Department</dd>
                                        <dt>Phone</dt>
                                        <dd>(425) 882-8080</dd>
                                        <dt>Email</dt>
                                        <dd>contact@uaccorporation.com</dd>
                                        <dt><strong>Address</strong></dt>
                                        <dd>One  Way Redmond, Ghana</dd>
                                        <dt><strong>Location</strong></dt>
                                        <dd ><strong>Kumasi</strong></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="ui  single line table">
                                <thead>
{#                                <tr>#}
{#                                    <th colspan="4">Services</th>#}
{#                                </tr>#}
                                <tr>
                                    <th class="six wide">Route Details</th>
                                    <th class="right aligned">Price Per Trip <i><small>$</small></i></th>
{#                                    <th>10% Commission <i><small>$</small></i></th>#}
{#                                    <th>Total  <i><small>$</small></i></th>#}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="">
                                        Cargo from Accra to Kumasi
                                    </td>
{#                                    <td> 1,440</td>#}
{#                                    <td>- 180</td>#}
                                    <td class="right aligned"> 1,260</td>
                                </tr>
                                <tr>
                                    <td class="">
                                        Cargo from Kumasi to Accra
                                    </td>
{#                                    <td> 1,440</td>#}
{#                                    <td>- 180</td>#}
                                    <td class="right aligned"> 1,260</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="ui single line teal table">
                                <thead>
                                <tr>
                                    <th>Sub Total <i><small>$</small></i></th>
{#                                    <th>Discount <i><small>$</small></i></th>#}
                                    <th>Total <i><small>$</small></i></th>
                                    <th>Final <i><small>$</small></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2, 520</td>
{#                                    <td>- 360</td>#}
                                    <td>2, 520</td>
                                    <td>2, 520</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="eight wide column">
                                <div class="ui  segment">
                                    <div class="ui top attached medium label">Comments Details</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit repudiandae numquam sit facere blanditiis, quasi distinctio ipsam? Libero odit ex expedita, facere sunt, possimus consectetur dolore, nobis iure amet vero.</p>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui segment">
                                    <div class="ui top attached medium label">Payment Methods</div>
                                    <p>For your convenience, you may deposite the final ammount at one of our banks</p>
                                    <ul class="ui list">
                                        <li class="item">Alpha Bank - <span class="mono">MO123456789456123</span></li>
                                        <li class="item">Beta Bank - <span class="mono">MO123456789456123</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui cancel red button" style="width: 100px;">Reject</div>
                    <div class="ui approve green button" style="width: 200px;">Accept</div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}