{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Truckr Logistics - The most comfortable way to connect shippers to carriers</title>

    <link href="{% static 'frontend/dist/semantic-ui/semantic.min.css' %}" rel="stylesheet" type="text/css" />
    {% block stylesheets %}
        <link href="{% static 'frontend/css/index.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <div class="item">Truckr</div>
        <div class="right menu">
            <a class="active item">Home</a>
            <a class="item">About</a>
            <a class="item">How It Works</a>
            <a class="item">Careers</a>
            <div class="item">
                <a class="ui button">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <div class="item">Truckr</div>
    <a class="active item">Home</a>
    <a class="item">About</a>
    <a class="item">How It Works</a>
    <a class="item">Careers</a>
    <a class="item">Login</a>
    <a class="item">Signup</a>
</div>
<!-- Page Contents -->
<div class="pusher">

    {% block content %}

        {% block menu %}
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <div class="item"><div class="ui blue sub header">Truckr</div></div>
                    <a class="active right item">Home</a>
                    <a class="item">About</a>
                    <a class="item">How It Works</a>
                    <a class="item">Careers</a>
                    <div class=" item">
                        <a class="ui inverted button">Log in</a>
                        <a class="ui inverted button">Sign Up</a>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% endblock %}

</div>
{% block scripts %}
    <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontend/js/semantic.min.js' %}"></script>
    <script src="{% static 'frontend/js/index.js' %}"></script>
{% endblock %}


</body>

</html>