{% extends "frontend/base_generic.html" %}

{% block content %}


    <div class="ui inverted blue vertical masthead center aligned segment">

        {% block menu %}
            {{ block.super }}
        {% endblock %}
        <div class="ui container">
            <h1 class="ui inverted header">
                Truckr connect shippers to carriers
            </h1>
            <h2>in the most comfortable way while saving cost.</h2>
            {#            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>#}
        </div>

    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div id="about" class="ui huge header">About Truckr</div>
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">We help Cargo owners save cost</h3>
                    <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
                    <h3 class="ui header">We help Truck Drivers make more</h3>
                    <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a class="ui huge blue button">Check Us Out</a>
                </div>
            </div>
        </div>
    </div>


    <div id="how-it-works" class="ui vertical stripe segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>"What a Company"</h3>
                    <p>That is what they all say about us</p>
                </div>
                <div class="column">
                    <h3>"I shouldn't have gone with their competitor."</h3>
                    <p>
                        <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe justified aligned segment">
        <div class="ui text container">
            <h3 class="ui header">Shippers</h3>
            <p>Anyplace, anytime, your company can count on OnTruck being available to collect your next shipment of goods.
                We know how important it is for you to have a simple way of planning your logistics. That is why you can place an order on our platform at any time of the day, using your laptop, smartphone or tablet.</p>
            <a class="ui large button">Join Truckr</a>
            <h4 class="ui horizontal header divider">
                &and;
            </h4>
            <h3 class="ui header">Drivers</h3>
            <p>As a Truckr driver, you receive job notifications on your phone. All important information like cargo specifications, times, locations, and the amount paid are shown up front. You get to choose whether to accept or reject the job.
Receive jobs on your smartphone
                With the free Truckr App, you'll receive job notifications when new loads are available. Accept them or reject them as best suits you.</p>
<p>
The job notifications come with all the information you need to decide whether the job is for you and your vehicle: number of pallets, dimensions, weight, refrigerated or not, etc.</p>
            <a class="ui large blue button">Sign up</a>
        </div>
    </div>


{% endblock %}
