{% extends 'shipper/base.html' %}

{% block content %}
    <div class="ui segment">
        <h3 class="ui dividing teal header">Order Information</h3>
            {% load semanticui %}
        <form class="ui form" action="" method="post">
            {% csrf_token %}

            <div class="field">
                <div class="fields">
                    <div class="eight wide field">
                        {% render_field form.cargo_material %}
                    </div>
                    <div class="eight wide field">
                        {% render_field form.cargo_weight %}
                    </div>
                    <div class="eight wide field">
                        <div class="ui calendar" id="cal-date">
                        {% render_field form.pickup_date %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="two fields">
                <div class="field">

                    {% render_field form.pickup_address %}
                </div>
                <div class="field">
                {% render_field form.pickup_location %}

                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    {% render_field form.destination_address %}
                </div>
                <div class="field">
                    {% render_field form.destination_location %}
                </div>
            </div>
            <div class="field">

                {% render_field form.order_notes %}
            </div>
            <input class="ui green medium button" type="submit" value="Submit Order">
        </form>
    </div>
{% endblock %}

