{% extends 'shipper/base.html' %}

{% block content %}
    <h2 class="ui header">Order History</h2>
    <div class="ui hidden divider"></div>

    <div class="ui basic segment">
        <table class="ui striped table">
            <thead>
            <tr>
                <th>No.</th>
                <th>Pickup Location</th>
                <th>Destination</th>
                <th>Material</th>
                <th>Pickup Date</th>
                <th>Matched Order</th>
{#                <th>Invoice Status</th>#}
            </tr>
            </thead>
            <tbody>
            {% for shipment in shipment_list %}
                <tr>
                    <td>{{ shipment.id }}</td>
                    <td><a href="{% url 'shipper:order_detail' shipment.id %}">{{ shipment.pickup_location }}</a></td>
                    <td>{{ shipment.destination_location }}</td>
                    <td>{{ shipment.cargo_material }}</td>
                    <td>{{ shipment.pickup_date }}</td>
                    {% if shipment.matched_order_to %}
                    <td>
                        <a href="{% url 'shipper:order_detail' shipment.id %}" class="ui green label">Match found</a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{% url 'shipper:order_detail' shipment.id %}" class="ui red label">Match pending</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
                </div>
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}
